!!!
html
  head
    title Screenshots
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/vendor/whiskers.js')
    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/app.js')
    include templates/all
