
.screenshot
  float: left
  margin: 5px
  padding: 5px
  border: 1px solid #eee
  border-radius: 3px
  box-shadow: 0 1px 1px #999, 0 2px 5px #eee
  overflow: hidden
  height: 170px
  h2
    margin: 3px
    font-size: 14px
    font-weight: 200
  img
    width: 200px
